In [23]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/student-habits-vs-academic-performance/student_habits_performance.csv

In [24]:
import warnings
warnings.filterwarnings("ignore")

In [25]:
df1=pd.read_csv("/kaggle/input/student-habits-vs-academic-performance/student_habits_performance.csv")
df1.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

In [27]:
df1.isnull()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [28]:
df1.isnull().sum()

student_id                        0
age                               0
gender                            0
study_hours_per_day               0
social_media_hours                0
netflix_hours                     0
part_time_job                     0
attendance_percentage             0
sleep_hours                       0
diet_quality                      0
exercise_frequency                0
parental_education_level         91
internet_quality                  0
mental_health_rating              0
extracurricular_participation     0
exam_score                        0
dtype: int64

In [29]:
df1.isnull().sum().sum()

91

In [30]:
df1.describe(include=['object'])

,student_id,gender,part_time_job,diet_quality,parental_education_level,internet_quality,extracurricular_participation
count,1000,1000,1000,1000,909,1000,1000
unique,1000,3,2,3,3,3,2
top,S1000,Female,No,Fair,High School,Good,No
freq,1,481,785,437,392,447,682

In [31]:
len(df1)

1000

In [32]:
df1.size

16000

In [33]:
df1.shape

(1000, 16)

In [34]:
df1.describe(include=['int64'])

             age  exercise_frequency  mental_health_rating
count  1000.0000         1000.000000           1000.000000
mean     20.4980            3.042000              5.438000
std       2.3081            2.025423              2.847501
min      17.0000            0.000000              1.000000
25%      18.7500            1.000000              3.000000
50%      20.0000            3.000000              5.000000
75%      23.0000            5.000000              8.000000
max      24.0000            6.000000             10.000000

In [35]:
df1.describe()

,age,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,exercise_frequency,mental_health_rating,exam_score
count,1000.0000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.4980,3.55010,2.505500,1.819700,84.131700,6.470100,3.042000,5.438000,69.601500
std,2.3081,1.46889,1.172422,1.075118,9.399246,1.226377,2.025423,2.847501,16.888564
min,17.0000,0.00000,0.000000,0.000000,56.000000,3.200000,0.000000,1.000000,18.400000
25%,18.7500,2.60000,1.700000,1.000000,78.000000,5.600000,1.000000,3.000000,58.475000
50%,20.0000,3.50000,2.500000,1.800000,84.400000,6.500000,3.000000,5.000000,70.500000
75%,23.0000,4.50000,3.300000,2.525000,91.025000,7.300000,5.000000,8.000000,81.325000
max,24.0000,8.30000,7.200000,5.400000,100.000000,10.000000,6.000000,10.000000,100.000000

In [36]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df1['gender_encoded']=le.fit_transform(df1['gender'])
df1

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,gender_encoded
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,0
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0,0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3,1
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,0
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1,0
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9,0
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4,1
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7,1
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9,0

In [37]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
df1['encoded parent edu level']=le1.fit_transform(df1['parental_education_level'])
df1

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,gender_encoded,encoded parent edu level
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,0,2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0,0,1
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3,1,1
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,0,2
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1,0,1
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9,0,1
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4,1,0
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7,1,0
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9,0,0

In [38]:
df1=pd.get_dummies(df1, columns=['part_time_job'], drop_first=True)
df1

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,gender_encoded,encoded parent edu level,part_time_job_Yes
0,S1000,23,Female,0.0,1.2,1.1,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,0,2,False
1,S1001,20,Female,6.9,2.8,2.3,97.3,4.6,Good,6,High School,Average,8,No,100.0,0,1,False
2,S1002,21,Male,1.4,3.1,1.3,94.8,8.0,Poor,1,High School,Poor,1,No,34.3,1,1,False
3,S1003,23,Female,1.0,3.9,1.0,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,0,2,False
4,S1004,19,Female,5.0,4.4,0.5,90.9,4.9,Fair,3,Master,Good,1,No,66.4,0,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1,0,1,False
996,S1996,17,Female,2.9,1.0,2.4,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9,0,1,True
997,S1997,20,Male,3.0,2.6,1.3,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4,1,0,False
998,S1998,24,Male,5.4,4.1,1.1,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7,1,0,True
999,S1999,19,Female,4.3,2.9,1.9,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9,0,0,False

In [39]:
df1['part_time_job_Yes'] = df1['part_time_job_Yes'].astype(int)
df1

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,gender_encoded,encoded parent edu level,part_time_job_Yes
0,S1000,23,Female,0.0,1.2,1.1,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,0,2,0
1,S1001,20,Female,6.9,2.8,2.3,97.3,4.6,Good,6,High School,Average,8,No,100.0,0,1,0
2,S1002,21,Male,1.4,3.1,1.3,94.8,8.0,Poor,1,High School,Poor,1,No,34.3,1,1,0
3,S1003,23,Female,1.0,3.9,1.0,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,0,2,0
4,S1004,19,Female,5.0,4.4,0.5,90.9,4.9,Fair,3,Master,Good,1,No,66.4,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1,0,1,0
996,S1996,17,Female,2.9,1.0,2.4,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9,0,1,1
997,S1997,20,Male,3.0,2.6,1.3,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4,1,0,0
998,S1998,24,Male,5.4,4.1,1.1,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7,1,0,1
999,S1999,19,Female,4.3,2.9,1.9,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9,0,0,0

In [47]:
#ps2type conersion
df1['diet_quality'] = df1['diet_quality'].astype('category')
df1['age']=df1['age'].astype('int')
df1

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,gender_encoded,encoded parent edu level,part_time_job_Yes
0,S1000,1,Female,-2.418068,1.2,-0.669750,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,0,2,0
1,S1001,0,Female,2.281707,2.8,0.446965,97.3,4.6,Good,6,High School,Average,8,No,100.0,0,1,0
2,S1002,0,Male,-1.464491,3.1,-0.483631,94.8,8.0,Poor,1,High School,Poor,1,No,34.3,1,1,0
3,S1003,1,Female,-1.736942,3.9,-0.762810,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,0,2,0
4,S1004,0,Female,0.987566,4.4,-1.228108,90.9,4.9,Fair,3,Master,Good,1,No,66.4,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,0,Female,-0.647139,0.5,-0.204452,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1,0,1,0
996,S1996,-1,Female,-0.442801,1.0,0.540025,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9,0,1,1
997,S1997,0,Male,-0.374688,2.6,-0.483631,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4,1,0,0
998,S1998,1,Male,1.260017,4.1,-0.669750,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7,1,0,1
999,S1999,0,Female,0.510777,2.9,0.074727,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9,0,0,0

In [49]:
#ps2check updated data type
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   attendance_percentage          1000 non-null   float64
 7   sleep_hours                    1000 non-null   float64
 8   diet_quality                   1000 non-null   category
 9   exercise_frequency             1000 non-null   int64
 10  parental_education_level       909 non-null    object
 11  internet_quality               1000 non-null   object
 12  mental_health_rating           1000 non-null   int64
 13  extracurricular_participation  1000 non-null   object
 14  exam_score                     1000 non-null   float64
 15  gender_encoded                 1000 non-null   int64
 16  encoded parent edu level       1000 non-null   int64
 17  part_time_job_Yes              1000 non-null   int64
dtypes: category(1), float64(6), int64(6), object(5)
memory usage: 134.0+ KB

In [40]:
#ps2MinMax normalization
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df1[['study_hours_per_day', 'netflix_hours']] = scaler.fit_transform(df1[['study_hours_per_day', 'netflix_hours']])
df1

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,gender_encoded,encoded parent edu level,part_time_job_Yes
0,S1000,23,Female,0.000000,1.2,0.203704,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,0,2,0
1,S1001,20,Female,0.831325,2.8,0.425926,97.3,4.6,Good,6,High School,Average,8,No,100.0,0,1,0
2,S1002,21,Male,0.168675,3.1,0.240741,94.8,8.0,Poor,1,High School,Poor,1,No,34.3,1,1,0
3,S1003,23,Female,0.120482,3.9,0.185185,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,0,2,0
4,S1004,19,Female,0.602410,4.4,0.092593,90.9,4.9,Fair,3,Master,Good,1,No,66.4,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,0.313253,0.5,0.296296,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1,0,1,0
996,S1996,17,Female,0.349398,1.0,0.444444,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9,0,1,1
997,S1997,20,Male,0.361446,2.6,0.240741,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4,1,0,0
998,S1998,24,Male,0.650602,4.1,0.203704,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7,1,0,1
999,S1999,19,Female,0.518072,2.9,0.351852,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9,0,0,0

In [ ]:
#ps2 simple feature scaling
df1['study_hours_per_day'] = df1['study_hours_per_day'] / df1['study_hours_per_day'].max()
df1['netflix_hours'] = df1['netflix_hours'] / df1['netflix_hours'].max()

In [ ]:
#ps2 zscore
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df1[['study_hours_per_day', 'netflix_hours']] = scaler.fit_transform(df1[['study_hours_per_day', 'netflix_hours']])